* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0 auto;
  max-width: 320px;
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
