@use "../../styles/partials/resets" as *;
@use "../../styles/partials/breakpoints" as *;

.OftenModal {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  justify-content: center;
  z-index: 10;
  padding: 1rem;
  position: relative;
  background-color: white;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;

  &__container {
    max-width: 320px;
    background-color: #fffffe;
    border-radius: 0.3125rem;
    padding: 3rem;
  }
  &__title {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 30px;
    color: rgba(32, 33, 35, 1);
  }
  &__subtitle{
    text-align: center;
    line-height: 18px;
    width: 100%;
    padding: 1.5rem 0 0.5rem 0;
    color: #28292c;
  }
  &__info {
    text-align: left;
    font-size: 0.8rem;
    line-height: 18px;
    width: 90%;
    padding: 1.5rem 0 0.5rem 0;
    color: #28292c;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: row;
    text-decoration: none;
    background-color: rgba(66, 133, 244, 1);
    color: #e9f0fd;
    padding: 0.5em 3em;
    margin: 1.5rem 0 1rem 0;
    width: 100%;
    border-radius: 2px;
    border: none;
    &:hover {
      cursor: pointer;
      background-color: rgb(30, 114, 250);
      border-radius: 2px;
    }
  }
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(89, 89, 89, 0.9);
}
.buddy2{
    display: flex;
    justify-content: center;
    width: 8rem;
    margin-bottom: 2rem;
    margin: 2rem;
    margin-left: 3rem;
    animation: bounce 1.5s infinite;
  }
  @keyframes bounce{
    10%{
      bottom: 0px;
    }
    50%{
      transform: translateY(5px);
    }
  }
input {
  float: right;
}

.button__div{
    margin-top: 1rem;
}

.form{
    margin-top: 2rem;
}